*{
    color:white;
}

#navbar{
    height: 60px;
    background-color: #232f3e;
}
#logo{
    font-size:25px;
    color:#f08804;
}
button{
    background-color:#f08804;
}
a{
    margin-right: 200px;
}
footer{
    background-color: black;
    text-align: center;
}
#box{
    height: 700px;
}